extends layout

block content
    div.col-md-5
        h1 Account settings
        div.col-md-8
            form(action="/users/#{user._id}/edit",method="post",name="updateUser")
                div.form-group
                    label(for="inputName") Username: 
                    input#inputName.form-control(type="text", value="#{user.name}", name="username")
                div.form-group
                    label(for="inputNewPassword") New Password:
                    input#inputNewPassword.form-control(type="password", placeholder="********", name="newPassword")
                div.form-group
                    label(for="inputNewPasswordBis") Confirm: 
                    input#inputNewPasswordBis.form-control(type="password", placeholder="********", name="newPasswordConfirm")
                input(type="hidden",value="PUT",name="_method")
                button.btn.btn-success.pull-left(type="submit").
                    Save changes
            form(action="users/#{user._id}/", method="POST", name="deleteUser")
                input(type="hidden", value="DELETE", name="_method")
                button.btn.btn-danger.pull-right(type="submit") Delete account
    div.col-md-5.col-md-offset-2
        h1 Twitter API settings
        div.col-md-10
            form(action="/apis/twitter/credentials", method="post", name="saveTwitterSettings")
                div.form-group
                    label(for="consumerKeyInput") Consumer Key:
                    input#consumerKeyInput.form-control(type="text", value="#{credential.consumer_key}", name="consumerKey")
                div.form-group
                    label(for="consumerSecretInput") Consumer Secret: 
                    input#consumerSecretInput.form-control(type="text", value="#{credential.consumer_secret}", name="consumerSecret")
                div.form-group
                    label(for="tokenKeyInput") Access Token Key:
                    input#tokenKeyInput.form-control(type="text", value="#{credential.access_token_key}", name="tokenKey")
                div.form-group
                    label(for="tokenSecretInput") Acces Token Secret: 
                    input#tokenSecretInput.form-control(type="text", value="#{credential.access_token_secret}", name="tokenSecret")
                input(type="hidden", value="#{user._id}", name="user_id")
                button.btn.btn-success.col-md-offset-4(type="submit") Save changes  

